<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <span class="navbar-brand disabled">IIS Aus Layer Manager</span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <li class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'iislayers:index' %}"> Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Layers</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{% url 'iislayers:new_layer' %}"> Add layer</a>
                    <a class="dropdown-item" href="{% url 'iislayers:list' %}"> Layers list</a>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}

            <!--{% if user.is_superuser %}
                  <li class="nav-item">
                    <a role="button" class="btn btn-warning" href="#"> Crear usuario </a>
                  </li>
                  <li class="nav-item">' '</li>

                {% endif %}-->

            <li class="nav-item">
                <a role="button" class="btn btn-danger" href="{% url 'logout' %}">
                    <span></span><span class="fa fa-sign-in"></span> Logout </a>
            </li>

            {% else %}
            <li class="nav-item">
                <a  role="button" class="btn navbar-btn btn-success" href="{% url 'login' %}">
                    <span class="fa fa-user"></span> Login </a>
            </li>
            {% endif %}
        </ul> -->
    </div>
</nav>