{% extends "base.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}

<a href="{% url 'iislayers:list' %}"> voltar </a>

<h1>{{ layer.layer_name }}</h1>
<strong>id: {{ layer.pk }}</strong>
<div class="row">
<div class="col-sm-8">
    <table class = "table table-user-information">
        <tbody>
        <tr>
            # aBout layer
            <th class="text-right">Layer name</th>
            <td>{{ layer.layer_name }}</td>
        </tr>

            <th class="text-right">Layer type</th>
            <td>{{ layer.layer_type }}</td>
        </tr>

            <th class="text-right">Layer resolution</th>
            <td>{{ layer.layer_resolution }}</td>
        </tr>

            <th class="text-right">Layer resolution unit</th>
            <td>{{ layer.layer_resolution_unit }}</td>
        </tr>

            <th class="text-right">Layer Coordinte Reference System</th>
            <td>{{ layer.layer_crs }}</td>
        </tr>

            <th class="text-right">Layer year reference</th>
            <td>{{ layer.layer_year_reference }}</td>
        </tr>


        # About layer publication
            <th class="text-right">Paper DOI</th>
            <td>{{ layer.doi }}</td>
        </tr>

        <th class="text-right">Paper author</th>
        <td><a href="{{ layer.paper_author_ORCID }}">{{ layer.paper_author }}</a></td>
        </tr>

            <th class="text-right">Publication year</th>
            <td>{{ layer.published_year }}</td>
        </tr>

            <th class="text-right">Publication title</th>
            <td><a href="{{ layer.paper_link }}">{{ layer.paper_title }}</a></td>
        </tr>

            <th class="text-right">Paper subject</th>
            <td>{{ layer.paper_subject }}</td>
        </tr>

        <th class="text-right">Observations</th>
        <td>{{ layer.observations }}</td>
        </tr>

        <th class="text-right">Layer cloud URL</th>
        <td><a href="{{ layer.layerUrl }}">{{ layer.layer_url }}</a></td>
        </tr>

        <th class="text-right">Project URL</th>
        <td><a href="{{ layer.projectUrl }}">{{ layer.project_url }}</a></td>
        </tr>

        <th class="text-right">
        <i class="fa fa-github fa-2x" aria-hidden="true"></i></th>
        <td><a href="{{ layer.repositoryUrl }}">{{ layer.repository_url }}</a></td>
        </tr>


        # About creation
            <th class="text-right">Observations</th>
            <td>{{ layer.observations }}</td>
        </tr>


            <th class="text-right">Creation date</th>
            <td>{{ layer.created_date }}</td>
        </tr>

            <th class="text-right">Registered by</th>
            <td>{{ layer.registered_by }}</td>
        </tr>

            <th class="text-right">Last modification</th>
            <td>{{ layer.modified_date }}</td>
        </tr>

            <th class="text-right">Modified by</th>
            <td>{{ layer.modified_by }}</td>
        </tr>



        </tbody>
    </table>
</div>

</div>
{% endblock content %}
