{% extends "base.html" %}

{% block content %}
<div class="col-md-12">
        <h2><i class ="fa fa-database"></i> Layers list</h2>
        {% if object_list %}
            <table class = 'table table-striped'>
                <thead>
                <tr>
                    <th>Layer Name</th>
                    <th>Layer Type</th>
                    <th>Layer Resolution</th>
                    <th>Publication Year</th>
                    <th>Source</th>
                    <th>Created on</th>
                    <th>Modified on</th>
                </tr>
                </thead>
                {% for object in page_obj %}
                <tr>
                    <td>
                        <a href="{{ object.get_absolute_url }}">{{ object.layer_name }}</a>
                    </td>
                    <td>{{ object.layer_type }}</td>
                    <td>{{ object.layer_resolution }}</td>
                    <td>{{ object.published_year }}</td>
                    <td>{{ object.source }}</td>
                    <td>{{ object.created_date }}</td>
                    <td>{{ object.modified_date }}</td>
                </tr>
                {% endfor %}
            </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item disabled">
                    <li class="page-item"><a class="page-link" href="?page=1"> Início</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"> {{ page_obj.previous_page_number }} </a></li>
            {% endif %}
            <span class="current">
                <li class="page-item active">
                  <a class="page-link" href="#"> {{ page_obj.number }} <span class="sr-only">(current)</span></a>
                </li>
            </span>
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"> {{ page_obj.next_page_number }} </a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> Ultimo </a></li>
            {% endif %}
        </ul>
    </nav>
        {% else %}
            <p class="alert alert-warning">
            <i class="fa fa-warning"></i> Database without layer registered!</p>
        {% endif %}
</div>

{% endblock content %}
