{% extends "base.html" %}

{% block content %}
<div class="col-md-12">
        <h2><i class ="fa fa-database"></i> Layers list</h2>
    		<div class="col-md-8">
                        <form action="" method="GET" id="search-form" class="form-horizontal">
                            <div class="form-group row">
                                <div class="input-group">
                                    <select type="select" name="q" class="form-control" id="id_select">
                                        <option value="">Filter by...</option>
                                        <option value="layer_name">Layer Name</option>
                                        <option value="layer_resolution">Layer resolution</option>
                                        <option value="doi">DOI</option>
                                        <option value="layer_subject">Subject</option>
                                    </select>
                                    <input type="text" name="v"
                                           class="form-control" id="id_search_box"
                                           value="{{ v|default_if_none:'' }}"
                                           placeholder="insert value"/>
                                    <span class="input-group-btn">
                                    <button type="submit" class="sh1 btn btn-primary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    </span>
                                    {% if v %}
                                        <span class="input-group-btn">
                                        <a href="{% url 'iislayers:list' %}"
                                           class="btn btn-warning">
                                            <i class="fa fa-ban" aria-hidden="true"></i>
                                            <span></span></a>
                                            <span class="alert alert-success">
                                            <i class="fa fa-warning"></i> Database with {{ total_itens }} layers...</span>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
        {% if object_list %}
            <table class = 'table table-striped'>
                <thead>
                <tr>
                    <th>Layer Name</th>
                    <th>Layer Type</th>
                    <th>Layer Resolution</th>
                    <th>Reference Year</th>
                    <th>Layer subject</th>
                    <th>Modified on</th>
                    <th>Modified by</th>
                </tr>
                </thead>
                {% for object in page_obj %}
                <tr>
                    <td>
                        <a href="{{ object.get_absolute_url }}">{{ object.layer_name }}</a>
                    </td>
                    <td>{{ object.layer_type }}</td>
                    <td>{{ object.layer_resolution }}</td>
                    <td>{{ object.layer_year_reference }}</td>
                    <td>{{ object.layer_subject }}</td>
                    <td>{{ object.modified_date }}</td>
                    <td>{{ object.modified_by }}</td>
                </tr>
                {% endfor %}
            </table>

        {% include 'pagination.html' %}
        {% endif %}
</div>

{% endblock content %}
