{% extends "base.html" %}

{% block content %}
<div class="col-md-8">
    {% if user.is_authenticated %}
        <h2><i class ="fa fa-pagelines"></i> Layers list</h2>
        {% if object_list %}
            <table class = 'table table-striped'>
                <thead>
                <tr>
                    <th>Layer Name</th>
                    <th>Layer Type</th>
                    <th>Layer Extension</th>
                    <th>Layer Resolution</th>
                    <th>Publication Year</th>
                    <th>CRS</th>
                    <th>Source</th>
                    <th>Observations</th>
                    <th>Layer URL</th>
                    <th>Project URL</th>
                    <th>Repository URL</th>
                    <th>DOI</th>
                    <th>Created on</th>
                    <th>Modified on</th>

                </tr>
                </thead>

                {% for object in page_obj %}
                <tr>
                    <td>
                        <a href="#">{{ object.layerName }}</a>
                    </td>
                    <td>{{ object.layerType }}</td>
                    <td>{{ object.layerExtension }}</td>
                    <td>{{ object.layerResolution }}</td>
                    <td>{{ object.publishedYear }}</td>
                    <td>{{ object.crs }}</td>
                    <td>{{ object.source }}</td>
                    <td>{{ object.observations }}</td>
                    <td>{{ object.layerUrl }}</td>
                    <td>{{ object.projectUrl }}</td>
                    <td>{{ object.repositoryUrl }}</td>
                    <td>{{ object.doi }}</td>
                    <td>{{ object.createdDate }}</td>
                    <td>{{ object.modifiedDate }}</td>
                </tr>
                {% endfor %}
            </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item disabled">
                    <li class="page-item"><a class="page-link" href="?page=1"> Início</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"> {{ page_obj.previous_page_number }} </a></li>
            {% endif %}
            <span class="current">
                <li class="page-item active">
                  <a class="page-link" href="#"> {{ page_obj.number }} <span class="sr-only">(current)</span></a>
                </li>
            </span>
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"> {{ page_obj.next_page_number }} </a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> Ultimo </a></li>
            {% endif %}
        </ul>
    </nav>
        {% else %}
            <p class="alert alert-warning">
            <i class="fa fa-warning"></i> Base de datos sin registros!</p>
        {% endif %}
</div>

    {% else %}
        <div class="alert alert-danger" role="alert">
            Acceso negado. Logar o crear usuário.
        </div>
    {% endif %}

{% endblock content %}
